// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$violet:  #7C5DFA;
$lightviolet: #9277FF;
$mediumviolet: #252945;
$darkviolet: #1E2139;
$almostwhite: #DFE3FA;
$gray: #888EB0;
$purplegray: #7E88C3;
$purpleblack: #0C0E16;
$orange: #EC5757;
$rose: #9277FF;
$headerbackground: #373B53;
$white: #F8F8FB;
$darkblue: #141625;
$line: #494E6E;
$font: 'League Spartan', sans-serif;

